/*
* This is a manifest file that'll be compiled into application.css, which will include all the files 
* listed below.
* 
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
* 
* You're free to add application-wide styles to this file and they'll appear at the bottom of the 
* compiled file so the styles you add
* 
* 
*= require tree .
*= require_self
*/


@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";


// Typography styles
h1, h2, h3, p {
    font-family: 'Open Sans', sans-serif;
}

//Background gradient
.navbar, .home-callout {
    // Gradient is Chitty Chitty Bang Bang courtesy of uigradients.com
    background: #007991;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//Nav styles
.navbar {
    border: none;
}

//Navbar styles
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
    color: aliceblue;
    &:hover {
        color: aliceblue;
        opacity: 0.75;
    }
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border: 2px solid white;
    &:hover, &:focus {
        background-color: #007991;
    }
    
}


//Homepage styles
.home-callout {
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 100px;
    color: aliceblue;
}

.navbar-brand, .navbar-nav {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}